<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Le nombre des formations est : {{ formation | length }} </h1>
{% set nbMax=0 %}
{% for form in formation %}
    {% set nbMax=max(form.nb_participants,nbMax) %}
{% endfor %}
<table border="1">
    <tr>
        <th>Reference</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Date Debut</th>
        <th>Date fin</th>
        <th>Nb Participants</th>
    </tr>
    {% for f in formation %}
        <tr>
            {#  {% if 'theorique' in f.Description %} #}
            {# {% if f.nb_participants == nbMax %} #}
            <td>{{ f.ref }}</td>
            <td>{{ f.Titre | upper }}</td>
            <td>{{ f.Description }}</td>
            <td>{{ f.date_debut }}</td>
            <td>{{ f.date_debut }}</td>
            <td>{{ f.nb_participants }}</td>
            {#  {% else %} #}
            {#       <strong>Tableau vide</strong> #}
            {# {% endif %} #}
            {# {% endif %} #}
            <td>
                {% if f.nb_participants==0 %}

                    <form action="{{ path('detail',{'id':f.ref}) }}">
                    <button>Participer</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% set nbTotal=0 %}
{% for f in formation %}
    {% set nbTotal=nbTotal+f.nb_participants %}
{% endfor %}
<p> Le nombre total des participants est : {{ nbTotal }}</p>
</body>
</html>