<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Nb Etudiant</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    <tr  {%  for c in classroom %} >
        <td>{{c.id}} </td>
        <td>{{c.name}} </td>
        <td>{{ c.nbetudiant }}</td>
        <td><a href="{{ path('update',{'id':c.id}) }}">Update</a></td>
        <td><a href="{{ path('app_DeleteStatique',{'id':c.id}) }}">Delete</a></td>
    </tr {%  endfor %}>
</table>
</body>
</html>